<!DOCTYPE html>
<html lang="us">
<head>
	<meta charset="UTF-8">
	<title>Reemplazar</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<!-- Vue js -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<!-- axios	 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</head>
<body>

	<div class="container">
		<h1>Precios</h1>
		<div id="app">
			<!-- /.card Precios-->
			<div class="card card-success">
				<div class="card-header">
					<h3 class="card-title">Sección de Precios</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body">
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">

								<label>Precio anterior</label>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">$</span>
									</div>
									<input v-model="precio_anterior" class="form-control" type="number" id="precio_anterior" name="precio_anterior" min="0" value="0" step=".01">                 
								</div>
							</div>
							<!-- /.form-group -->
						</div>
						<!-- /.col -->
						<div class="col-md-3">
							<div class="form-group">

								<label>Precio actual</label>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">$</span>
									</div>
									<input v-model="precio_actual" class="form-control" type="number" id="precio_actual" name="precio_actual" min="0" value="0" step=".01">                 
								</div>

								<br>
								<span id="descuento">
									{{ generardescuento }}
								</span>
							</div>
							<!-- /.form-group -->

						</div>
						<!-- /.col -->
						<div class="col-md-6">
							<div class="form-group">

								<label>Porcentaje de descuento</label>
								<div class="input-group">                  
									<input v-model="porcentaje_descuento" class="form-control" type="number" id="porcentaje_descuento" name="porcentaje_descuento" step="any" min="0" max="100" value="0" >    <div class="input-group-prepend">
										<span class="input-group-text">%</span>
									</div>  

								</div>

								<br>
								<div class="progress">
									<div class="progress-bar" role="progressbar" 
									v-bind:style="{width: porcentaje_descuento+'%'}"
									aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ porcentaje_descuento }}</div>
								</div>
							</div>
							<!-- /.form-group -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.card-body -->
				<div class="card-footer">
				</div>
			</div>
		</div>
	
	</div>

	<!-- Vue.js -->
	<script>
		var app = new Vue({
			el: '#app',
			data: {
				precio_actual: 0,
				precio_anterior: 0,
				porcentaje_descuento: 0,
				descuento: 0,
				descuento_mensaje: '0'
			},
			computed: {
				generardescuento : function(){

					if (this.porcentaje_descuento > 100) {
						Swal.fire({
							icon: 'error',
							title: 'El porcentaje no puede superar 100!'
						})
						this.porcentaje_descuento = 100;
						this.precio_actual = 0;
						this.descuento_mensaje = 'El producto va sin cargo';
					} 

					if (this.porcentaje_descuento < 0) {
						Swal.fire({
							icon: 'error',
							title: 'El porcentaje no puede ser menor a 0'
						})				
						this.porcentaje_descuento = 0;
						this.precio_actual = this.precio_anterior;
						this.descuento_mensaje = '';
					}

					if (this.porcentaje_descuento > 0) {
						this.descuento = (this.porcentaje_descuento * this.precio_anterior) / 100;
						this.precio_actual = this.precio_anterior - this.descuento;

						if (this.porcentaje_descuento == 100) {
							this.descuento_mensaje = 'El producto va sin cargo';
						} else {
							this.descuento_mensaje = 'El descuento es del '+ this.porcentaje_descuento + '%';
						}


					} else {
						this.descuento = '';
						this.precio_actual = this.precio_anterior;
						this.descuento_mensaje = '';
					}

					return this.descuento_mensaje; 

				}
			}
		});

	</script>

</body>
</html>